{% extends "layout.html" %}
{% block title %}Reservas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-2"></div>
  <div class="col-sm-12 col-12 col-md-12 col-lg-8 p-4 rounded" style="background: #cccccc">
    <h1 style="text-align: center">Reservas</h1>
    <div class="container">
      {% if reservas.items|length %}
        <table class="col-12 table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Centro</th>
              <th scope="col">Dia-Mes-Año</th>
              <th scope="col">Desde</th>
              <th scope="col">Hasta</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody> 
            {% for reserva in reservas.items %}
              <tr>
                <td>{{reserva.centro.name}}</td>
                <td>{{ reserva.date|datetimeformat() }}</td>
                <td>{{reserva.start_time}}Hs</td>
                <td>{{reserva.final_time}}Hs</td>
                <td>{{reserva.email}}</td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>
        
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2" aria-label="Page navigation example">
                <ul class="pagination">
                  {% for i in range(total_pages)  %}
                      <li class="page-item">
                        <form method="GET" action="{{url_for('reserva_search', page=i+1)}}">
                          <input name="centro_name" hidden value="{{ form_centro }}">
                          <input name="user_email" hidden value="{{ form_user }}">
                          <button class="page-link" type="submit" >{{ i+1 }}</button>
                        </form> 
                      </li>
                  {% endfor %}
                </ul>
            </div>
          </div>
          <hr>
      {% else %}  
        <div class="p-3 m-4">
          <h3 style="text-align: center">No se encontraron reservas</h3>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-4"></div>
      <a class="btn btn-dark col-12 col-sm-4 btn-sm" type="button" href="{{ url_for('home') }}">Volver</a>
      <div class="col-4"></div>
    </div>
  </tbody>
  <div class="col-2"></div>
</div>
{% endblock %}