{% extends "layout.html" %}
{% block title %}Reservas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% if reservas.items|length %}
  {% for reserva in reservas.items %}
    <div>
      <td>{{reserva.email}}</td>
      <td>{{reserva.start_time}}</td>
      <td>{{reserva.final_time}}</td>
      <td>{{ reserva.date|datetimeformat()  }}</td>
      <td>{{reserva.centro.name}}</td>
    </div>
  {% endfor %}
  </tbody>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-2" aria-label="Page navigation example">
        <ul class="pagination">
          {% for i in range(total_pages)  %}
            {% if(page) %}
              <li class="page-item">
                <form method="GET" action="{{url_for('reserva_search', page=i+1)}}">
                  <input name="page" hidden value="{{ i+1 }}">
                  <input name="centro_name" hidden value="{{ form_centro }}">
                  <input name="user_email" hidden value="{{ form_user }}">
                  <button class="page-link" type="submit" >{{ i+1 }}</button>
                </form> 
              </li>
            {%else%}  
              <li class="page-item"><a class="page-link" href="{{url_for('reserva_search', page=i+1)}}">{{ i+1 }}</a></li>
            {%endif%}
          {% endfor %}
        </ul>
    </div>
{% else %}  
  <div class="bg-warning p-3 m-4">
    <h3 style="text-align: center">No se encontraron reservas</h3>
  </div>
{% endif %}
{% endblock %}