{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-1"></div>
    <div class="col-lg-4 col-md-8 col-sm-10 mt-5 color-dark rounded">
      <h1 class="mt-4" style="text-align: center;">Iniciar sesión</h1>
      <hr>
      <!--FORM-->
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-2 col-2"></div>
        <div class="col-lg-8 col-md-6 col-sm-8 col-8">
          <form autocomplete="off" action="{{ url_for('auth_authenticate') }}" class="mb-4" method="POST">
            <h4>Correo</h4>
            <input class="col-12" name="email" placeholder="example@mail.com" required/>
            <h4 class="mt-4">Clave</h4>
            <input class="col-12" type="password" name="password" placeholder="***********" required/>
            <hr>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <input type="submit" value="Login">
                </div>
                <div class="col-4"></div>
            </div>
          </form>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-2"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-1"></div>
  </div>
{% endblock %}
