{% extends "layout.html" %}
{% block title %}Turnos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}


<div class="row">
  <div class="col-2"></div>
  <div class="col-sm-12 col-12 col-md-12 col-lg-8 p-4 rounded" style="background: #cccccc">
    <h1 style="text-align: center">Turnos</h1>
    <hr>
    <div class="container">
      {% if turnos.items|length %}
      <table class="col-12 table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dia</th>
              <th scope="col">Desde</th>
              <th scope="col">Hasta</th>
              <th scope="col">Mas</th>
            </tr>
          </thead>
          <tbody> 
            {% for turno in turnos.items %}
                <tr>
                  <td>{{ turno.date|datetimeformat()  }}</td>
                  <td>{{turno.start_time}}</td>
                  <td>{{turno.final_time}}</td>
                  <td class="row">
                    <!--Boton editar-->
                    <a href="{{ url_for('turno_edit', centro_id=turno.centro_id, id=turno.id) }}" class="btn btn-primary btn-sm">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                      </svg>
                    </a>
                    <!--Boton de eliminar-->
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg> 
                    </button>
                    <!--Modal-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Seguro desea eliminar este turno</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-footer">
                                <form autocomplete="off" method="post" action="{{ url_for('turno_trash', centro_id=turno.centro_id, id=turno.id) }}">
                                  <button class="btn btn-danger btn-sm" type="submit">
                                    Eliminar 
                                  </button>
                                </form>
                              </div>
                          </div>
                      </div>
                    </div>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %} 
        <div class="p-3 m-4">
          {% if center_state == 'pendiente' %}
            <h3 class="bg-warning p-3 m-4" style="text-align: center">Este centro se encuentra pendiente de aprobación</h3>
          {% elif center_state == 'rechazado' %}
            <h3 style="text-align: center">Este centro está rechazado</h3>
          {% else %}
            <h3 style="text-align: center">Este centro no posee turnos</h3>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if center_state == 'aceptado' %}
    <div class="row">
        <div class="col-4"></div>  
        <a href="{{ url_for('turno_new', id=id) }}" class="col-12 col-md-4 btn btn-success btn-sm">Nuevo</a>
        <div class="col-4"></div>  
    </div>
    {% endif %}
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}