{% extends "layout.html" %}
{% block title %}Turnos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% if turnos.items|length %}
  {% for turno in turnos.items %}
    {% if turno.selected == 0 %}
      <div>
        <td>{{turno.start_time}}</td>
        <td>{{turno.final_time}}</td>
        <td>{{ turno.date|datetimeformat()  }}</td>
        <td><a href="{{ url_for('turno_edit', centro_id=turno.centro_id, id=turno.id) }}" class="col-3 btn btn-success btn-sm">Editar</a></td>
        <td><form autocomplete="off" method="post" action="{{ url_for('turno_trash', centro_id=turno.centro_id, id=turno.id) }}">
          <button type="submit">Eliminar</button>
        </form></td>
      </div>
    {% endif %}
  {% endfor %}
{% else %}  
  <div class="bg-warning p-3 m-4">
    <h3 style="text-align: center">Este centro no posee turnos</h3>
  </div>
{% endif %}

<a href="{{ url_for('turno_new', id=id) }}" class="col-3 btn btn-success btn-sm">Nuevo</a>

{% endblock %}