{% extends "layout.html" %}
{% block title %}Turnos{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% if turnos.items|length %}
  {% for turno in turnos.items %}
    {% if turno.selected == 0 %}
      <div>
        <td>{{turno.start_time}}</td>
        <td>{{turno.final_time}}</td>
        <td>{{turno.date}}</td>
        <a href="{{ url_for('turno_edit', turno=turno) }}" class="col-3 btn btn-success btn-sm">Editar</a>
      </div>
    {% endif %}
  {% endfor %}
{% else %}  
  <div class="bg-warning p-3 m-4">
    <h3 style="text-align: center">Este centro no posee turnos</h3>
  </div>
{% endif %}

<a href="{{ url_for('turno_new', id=id) }}" class="col-3 btn btn-success btn-sm">Nuevo</a>

{% endblock %}