@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 60px;
  height: 100%;
  padding-bottom: 100px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #92a4ad;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
.btn-space{
  margin-right: 5px
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align: center;
}
.margin-a {
  margin-left: -15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  list-style:none
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.color-dark{
  background-color: #343a40;
  color: white
  
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* estilos de tabla centros 

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
 table * {
  position: relative;
}
 table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
 table tbody tr {
  height: 50px;
}
 table tbody tr:last-child {
  border: 0;
}
 table td, table th {
  text-align: left;
}
 table td.l, table th.l {
  text-align: right;
}
 table td.c, table th.c {
  text-align: center;
}
 table td.r, table th.r {
  text-align: center;
}


.centros-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

 tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
.column7 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
.column8 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
.column9 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
.column10 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
.column11 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}



@media screen and (max-width: 992px) {
   table {
    display: block;
  }
   table > *,  table tr,  table td,  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
 
  table tbody tr td:nth-child(1):before {
    content: "Nombre";
  }
  table tbody tr td:nth-child(2):before {
    content: "Localidad";
  }
  table tbody tr td:nth-child(3):before {
    content: "Telefono";
  }
  table tbody tr td:nth-child(4):before {
    content: "Horario de Atencion";
  }
  table tbody tr td:nth-child(5):before {
    content: "Municipalidad";
  }
  table tbody tr td:nth-child(6):before {
    content: "Web";
  }
  table tbody tr td:nth-child(7):before {
    content: "Email";
  }
  table tbody tr td:nth-child(8):before {
    content: "Coordenadas";
  }
  table tbody tr td:nth-child(9):before {
    content: "Instrucciones de Visita";
  }
  table tbody tr td:nth-child(10):before {
    content: "Tipo de Centro";
  }
  table tbody tr td:nth-child(11):before {
    content: "Estado";
  }

  .column4,
  .column5,
  .column6,
  .column7,
  .column8,
  .column9,
  .column10,
  .column11 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  .centros tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
*/
.new_footer_area {
  background: #e1d5f1;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000;
  padding: 27px 0px;
}

.center-image{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}


.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#footer {
  width: 100%;
  height: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*************footer End*****************/
.nav-pills > li > a{
  color: #000!important;
}
.nav-pills > li > a.active {
  background-color: #c850c0!important;
  color: #000!important;
}