{% extends "layout.html" %}
{% block title %}Edicion de Usuario{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}    
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-sm-12 col-12 col-md-8 col-lg-12 p-4 rounded" style="background: #cccccc">
      <h1 style="text-align: center">Crear un usuario</h1>
      <hr>
      <form form action="{{ url_for('user_confirmEdit') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{form.idUser}}
        <div class="row">
          <div class="mb-3 col-12 col-sm-6 col-md-6 col-lg-6">
            <b>{{ form.email.label }}</b>
            {{ form.email(class="col-12 mb-2") }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="mb-3 col-12 col-sm-6 col-md-6 col-lg-6">
            <b>{{ form.username.label }}</b>
            {{ form.username(class="col-12 mb-2") }}
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="mb-3 col-12 col-sm-6 col-md-6 col-lg-6">
            <b>{{form.password.label}}</b>
            {{ form.password(class="col-12 mb-2") }}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="col-12 mb-3 col-sm-6 col-md-6 col-lg-6">
            <b>{{form.first_name.label}}</b>
            {{ form.first_name(class="col-12 mb-2") }}
            {% for error in form.first_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="col-12 mb-3 col-sm-6 col-md-6 col-lg-6">
            <b> {{form.last_name.label}}</b>
            {{ form.last_name(class="col-12 mb-2") }}
            {% for error in form.last_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="col-12 mb-3 col-sm-6 col-md-6 col-lg-6">
              <b>Imagen</b>
              <input class="col-12" type="file" name="image"/>
          </div>
          {% for rol in roles %}
          <input type="checkbox" id="{{rol.name}}" name="{{rol.name}}" value="{{rol.id}}">
          <label for="{{rol.name}}"> Rol de {{rol.name}}</label><br>
          {% endfor %}
          <div class="mt-5 col-12 mb-3 col-sm-12 col-md-12 col-lg-12">
            <div class="row ml-3">
              {{ form.submit(class="btn col-3 btn-success btn-sm") }}
              <div class="col-1"></div>
              <button class="btn col-3 btn-danger btn-sm" type="reset">Limpiar</button>
              <div class="col-1"></div>
              <a class="btn btn-dark col-3 btn-sm" type="button" href="{{ url_for('user_index') }}">Volver</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>

   
{% endblock %}
