{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-12 col-12 col-md-8 col-lg-12 p-4 rounded" style="background: #cccccc">
      <h1 style="text-align: center">Crear un usuario</h1>
      <hr>
      <form action="{{ url_for('user_create') }}" method="POST">
        <div class="row">
          <div class="mb-3 col-12 col-sm-6 col-md-6 col-lg-6">
            <b>Email</b>
            <input class="col-12" name="email" placeholder="Correo">
          </div>
          <div class="mb-3 col-12 col-sm-6 col-md-6 col-lg-6">
            <b> Nombre de Usuario </b>
            <input class="col-12" name="username" placeholder="Nombre de Usuario">
          </div>
          <div class="mb-3 col-12 col-sm-6 col-md-6 col-lg-6">
            <b>Clave</b>
            <input class="col-12" type="password" name="password" placeholder="Clave">
          </div>
          <div class="col-12 mb-3 col-sm-6 col-md-6 col-lg-6">
            <b>Nombre</b>
            <input class="col-12" name="first_name" placeholder="Nombre">
          </div>
          <div class="col-12 mb-3 col-sm-6 col-md-6 col-lg-6">
            <b> Apellido</b>
            <input class="col-12" name="last_name" placeholder="Apellido">
          </div>
          <div class="mt-5 col-12 mb-3 col-sm-12 col-md-12 col-lg-12">
            <div class="row ml-3">
              <input class="col-3 btn btn-success btn-sm" type="submit" value="Crear">
              <div class="col-1"></div>
              <button class="btn col-3 btn-danger btn-sm" type="reset">Limpiar</button>
              <div class="col-1"></div>
              <a class="btn btn-dark col-3 btn-sm" type="button" href="{{ url_for('user_index') }}">Volver</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
{% endblock %}
