{% extends "layout.html" %}
{% block title %}Configuracion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-sm-12 col-12 col-md-12 col-lg-8 p-4 rounded" style="background: #C6B2EF">
      <h1 style="text-align: center">Centros de Ayuda</h1>
      {% if centers|length %} 
        <ul class="nav  nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Pendientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Aceptados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Rechazados</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <table class="col-12 table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Apertura</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody> 
                {% for center in centers %}
                  {% if  center.estado == 'pendiente' %}                
                    <tr>
                        <td>{{center.name}}</td>
                        <td>{{ center.location }}</td>
                        <td>{{ center.phone_number }}</td>
                        <td>{{ center.start_time }}hs-{{center.final_time}}hs</td>
                      <td>
                        <!--BOTON y Modal INFO-->
                       <button type="button" class="btn btn-light btn-sm" data-toggle="modal" id="{{center}}" data-target="#center{{center.id}}">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                            <path fill-rule="evenodd" d="M16 1.25v4.146a.25.25 0 01-.427.177L14.03 4.03l-3.75 3.75a.75.75 0 11-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0111.604 1h4.146a.25.25 0 01.25.25zM2.75 3.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 01.75.75v2.19l2.72-2.72a.75.75 0 01.53-.22h4.5a.25.25 0 00.25-.25v-2.5a.75.75 0 111.5 0v2.5A1.75 1.75 0 0113.25 13H9.06l-2.573 2.573A1.457 1.457 0 014 14.543V13H2.75A1.75 1.75 0 011 11.25v-7.5C1 2.784 1.784 2 2.75 2h5.5a.75.75 0 010 1.5h-5.5z"></path>
                          </svg>
                        </button>
                        <div class="modal col-12 fade" id="center{{center.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                  <div class="modal-header mb-3" style="text-align:center;">
                                      <h4 class="modal-title" id="deleteModalLabel">Detalles del Centro</h4>
                                  </div>
                                  <div class="media m-3">
                                      <div class="media-body">
                                          <p class="mt-0"><b>Nombre </b> {{center.name}}.</p>
                                          <p class="mt-0"><b>Localidad:</b> {{ center.location }}.</p>
                                          <p class="mt-0"><b>Telefono:</b> {{ center.phone_number }}.</p>
                                          <p class="mt-0"><b>Hora de Apertura:</b> {{ center.start_time }}hs</p>
                                          <p class="mt-0"><b>Hora de Cierre:</b> {{center.final_time}}hs.</p>
                                          <p class="mt-0"><b>Municipalidad:</b> {{ center.municipality }}.</p>
                                          <p class="mt-0"><b>Sitio Web:</b> {%if center.web|length%}{{ center.web }}{%else%}No posee sitio{%endif%}.</p>
                                          <p class="mt-0"><b>Correo Electronico:</b>{%if center.email|length%}{{ center.email }}{%else%}No posee email{%endif%}.</p>
                                          <p class="mt-0"><b>Estado del centro:</b>{%if center.coordinates|length%}{{ center.coordinates }}{%else%}No posee coordenadas{%endif%}</p>
                                          <p class="mt-0"><b>Estado del centro:</b>{{ center.estado }}</p>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Volver</button>
                                    </div>
                              </div>
                            </div>
                          </div>
                            <!-- 
                            BOTON PARA ACEPTAR
                          -->
                        <input type="hidden" id="activar" name="activar" hidden value="{{center.id}}"> 
                        <button data-id="{{center.id}}" class="btn btn-success btn-sm" onclick="ConfirmAccept(this)">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                          </svg>
                        </button>                    
                          <!-- 
                            BOTON PARA RECHAZAR
                          -->
                            <input type="hidden" id="bloquear" name="bloquear" hidden value="{{center.id}}"> 
                            <button data-id={{center.id}} class="btn btn-warning btn-sm" onclick="ConfirmReject(this)">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            </button>
                      </td> 
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <table class="col-12 table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Apertura</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody> 
                {% for center in centers %}
                  {% if  center.estado == 'aceptado' %}                 
                    <tr>
                        <td>{{center.name}}</td>
                        <td>{{ center.location }}</td>
                        <td>{{ center.phone_number }}</td>
                        <td>{{ center.start_time }}hs-{{center.final_time}}hs</td>
                      <td>
                        <!--BOTON y Modal INFO-->
                       <button type="button" class="btn btn-light btn-sm" data-toggle="modal" id="{{center}}" data-target="#center{{center.id}}">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                            <path fill-rule="evenodd" d="M16 1.25v4.146a.25.25 0 01-.427.177L14.03 4.03l-3.75 3.75a.75.75 0 11-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0111.604 1h4.146a.25.25 0 01.25.25zM2.75 3.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 01.75.75v2.19l2.72-2.72a.75.75 0 01.53-.22h4.5a.25.25 0 00.25-.25v-2.5a.75.75 0 111.5 0v2.5A1.75 1.75 0 0113.25 13H9.06l-2.573 2.573A1.457 1.457 0 014 14.543V13H2.75A1.75 1.75 0 011 11.25v-7.5C1 2.784 1.784 2 2.75 2h5.5a.75.75 0 010 1.5h-5.5z"></path>
                          </svg>
                        </button>
                        <div class="modal col-12 fade" id="center{{center.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                  <div class="modal-header mb-3" style="text-align:center;">
                                      <h4 class="modal-title" id="deleteModalLabel">Detalles del Centro</h4>
                                  </div>
                                  <div class="media m-3">
                                      <div class="media-body">
                                          <p class="mt-0"><b>Nombre </b> {{center.name}}.</p>
                                          <p class="mt-0"><b>Localidad:</b> {{ center.location }}.</p>
                                          <p class="mt-0"><b>Telefono:</b> {{ center.phone_number }}.</p>
                                          <p class="mt-0"><b>Hora de Apertura:</b> {{ center.start_time }}hs</p>
                                          <p class="mt-0"><b>Hora de Cierre:</b> {{center.final_time}}hs.</p>
                                          <p class="mt-0"><b>Municipalidad:</b> {{ center.municipality }}.</p>
                                          <p class="mt-0"><b>Sitio Web:</b> {%if center.web|length%}{{ center.web }}{%else%}No posee sitio{%endif%}.</p>
                                          <p class="mt-0"><b>Correo Electronico:</b>{%if center.email|length%}{{ center.email }}{%else%}No posee email{%endif%}.</p>
                                          <p class="mt-0"><b>Estado del centro:</b>{%if center.coordinates|length%}{{ center.coordinates }}{%else%}No posee coordenadas{%endif%}</p>
                                          <p class="mt-0"><b>Estado del centro:</b>{{ center.estado }}</p>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Volver</button>
                                    </div>
                              </div>
                            </div>
                          </div>
                        <input type="hidden" id="borrar" name="borrar" hidden value="{{center.id}}"> 
                          <button data-id={{center.id}} class="btn btn-danger btn-sm" onclick="ConfirmDelete(this)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                          </button>
                      </td> 
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <table class="col-12 table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Apertura</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody> 
                {% for center in centers %}
                  {% if  center.estado == 'rechazado' %}                 
                    <tr>
                        <td>{{center.name}}</td>
                        <td>{{ center.location }}</td>
                        <td>{{ center.phone_number }}</td>
                        <td>{{ center.start_time }}hs-{{center.final_time}}hs</td>
                      <td>
                        <!--BOTON y Modal INFO-->
                       <button type="button" class="btn btn-light btn-sm" data-toggle="modal" id="{{center}}" data-target="#center{{center.id}}">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                            <path fill-rule="evenodd" d="M16 1.25v4.146a.25.25 0 01-.427.177L14.03 4.03l-3.75 3.75a.75.75 0 11-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0111.604 1h4.146a.25.25 0 01.25.25zM2.75 3.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 01.75.75v2.19l2.72-2.72a.75.75 0 01.53-.22h4.5a.25.25 0 00.25-.25v-2.5a.75.75 0 111.5 0v2.5A1.75 1.75 0 0113.25 13H9.06l-2.573 2.573A1.457 1.457 0 014 14.543V13H2.75A1.75 1.75 0 011 11.25v-7.5C1 2.784 1.784 2 2.75 2h5.5a.75.75 0 010 1.5h-5.5z"></path>
                          </svg>
                        </button>
                        <div class="modal col-12 fade" id="center{{center.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                  <div class="modal-header mb-3" style="text-align:center;">
                                      <h4 class="modal-title" id="deleteModalLabel">Detalles del Centro</h4>
                                  </div>
                                  <div class="media m-3">
                                      <div class="media-body">
                                          <p class="mt-0"><b>Nombre </b> {{center.name}}.</p>
                                          <p class="mt-0"><b>Localidad:</b> {{ center.location }}.</p>
                                          <p class="mt-0"><b>Telefono:</b> {{ center.phone_number }}.</p>
                                          <p class="mt-0"><b>Hora de Apertura:</b> {{ center.start_time }}hs</p>
                                          <p class="mt-0"><b>Hora de Cierre:</b> {{center.final_time}}hs.</p>
                                          <p class="mt-0"><b>Municipalidad:</b> {{ center.municipality }}.</p>
                                          <p class="mt-0"><b>Sitio Web:</b> {%if center.web|length%}{{ center.web }}{%else%}No posee sitio{%endif%}.</p>
                                          <p class="mt-0"><b>Correo Electronico:</b>{%if center.email|length%}{{ center.email }}{%else%}No posee email{%endif%}.</p>
                                          <p class="mt-0"><b>Estado del centro:</b>{%if center.coordinates|length%}{{ center.coordinates }}{%else%}No posee coordenadas{%endif%}</p>
                                          <p class="mt-0"><b>Estado del centro:</b>{{ center.estado }}</p>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Volver</button>
                                    </div>
                              </div>
                            </div>
                          </div>
                        <input type="hidden" id="borrar" name="borrar" hidden value="{{center.id}}"> 
                          <button data-id={{center.id}} class="btn btn-danger btn-sm" onclick="ConfirmDelete(this)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                          </button>
                      </td> 
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
         </div>
  {% else %}
  <hr>
  <div class="p-3 m-4">
    <h3 style="text-align: center">Aun no hay centros registrados </h3>
  </div>
  <hr>
  {% endif %}
  <div class="row mt-4">
    <div class="col-2"></div>  
    <a href="{{ url_for('centros_new') }}" class="col-3 btn btn-success btn-sm">Nuevo</a>
    <div class="col-2"></div>
    <a href="{{ url_for('home') }}" class="col-3 btn btn-dark btn-sm">Volver</a>
    <div class="col-2"></div>
  </div>
</div> 
</div>
<div class="col-2"></div>
{% include "modalsCentros.html" %} 
    
{% include "centersScript.html" %}
{% endblock %}