{% extends "layout.html" %}
{% block title %}Configuracion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 col-lg-12 p-4 rounded" style="background: #cccccc">
            <h2 style="text-align: center">Configuracion</h2>
            <hr>
            <form method="POST" action="{{ url_for('config_edit') }}">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="mb-2 col-12 col-sm-12 col-lg-6 col-md-6">
                        <b>{{ form.title.label }}</b>
                        {{ form.title(class="col-12 mb-2") }}<br>
                        {% for error in form.title.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-2 col-12 col-sm-12 col-lg-6 col-md-6">
                        <b>{{ form.description.label }}</b>
                        {{ form.description(class="col-12 mb-2") }}<br>
                        {% for error in form.description.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-2 col-12 col-sm-12 col-lg-6 col-md-6">
                        <b>{{ form.email.label }}</b>
                        {{ form.email(class="col-12 mb-2") }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-4 col-12 col-sm-12 col-lg-6 col-md-6">
                        <b>{{ form.pages.label }}</b>
                        {{ form.pages(class="col-12 mb-2") }}<br>
                        {% for error in form.pages.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-2 mt-0 col-12">
                        <b><p style="text-align: center">{{ form.active.label }}</p></b>
                        <div style="margin-left: -20px ;display: flex; justify-content: center;">{{ form.active }}</div><br>
                        {% for error in form.active.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                        <hr>
                    </div>
                    <div class="mb-2 col-12" style="display: flex; justify-content: center;">
                        {{ form.submit(class="btn col-3 btn-warning btn-sm") }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2 col-md-1 col-lg-2"></div>
    </div>

{% endblock %}