<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<div  style="height: 600px;width: 500px;" id="mapid">
    
</div> 
  <!-- links para mapas de coordenadas -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script type="text/javascript"
       src="{{ url_for('static', filename='map.js') }}"></script>
       <!-- fin de link de mapas de coordenadas -->