<footer class="new_footer_area bg_color mt-5">
        <div class="new_footer_top">
            <div class="footer_bg">
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="mb-0"> Grupo 12 © 2020. Contacto: {{session.site.email}}</p>
                </div>
            </div>
        </div>
    </footer>