{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Inicio</h1>
  <p>Página de inicio de la aplicación</p>

  {% if is_authenticated(session) %}
    <!--
      formulario para busqueda de usuarios por nombre de usuario o estado activo/bloqueado
    -->
    <form action="{{ url_for('user_search') }}" method="POST">
      {{ form.csrf_token }}
    <div>
        {{ form.search }}
        {% for error in form.search.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.active }}<br>
        {% for error in form.active.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
    </form>
  {% endif %}

{% endblock %}
