{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
    <img class="image col-12" src="{{url_for('static', filename='logos/ayudar.jpg')}}" alt="home">
    <div class="overlay">
      <img class="image col-12" src="{{url_for('static', filename='logos/esFacil.jpg')}}" alt="home">
    </div>
  </div>
  {% if is_authenticated(session) %}
    <hr>
    <div class="row">
      <div class="col-2 col-lg-2"></div>
      <div class="col-8 col-lg-8 p-4 color-dark rounded">
        <h3 style="text-align: center">Busqueda de Usuarios</h3>
        <div class="row">
          <!--
            formulario para busqueda de usuarios por nombre de usuario o estado activo/bloqueado
          -->
          <form class="col-12" action="{{ url_for('user_search') }}" method="POST">
            {{ form.csrf_token }}
            <div>
                {{ form.search (class="col-12 mb-2") }}
                {% for error in form.search.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="row">
              <div class="col-12 col-sm-3 col-md-12 col-lg-3"></div>
              <div class="col-12 col-sm-6 col-md-12 col-lg-5">
                  {{ form.active (class="mb-0")}}<br>
                  {% for error in form.active.errors %}
                  <span style="color: red;">{{ error }}</span>
                  {% endfor %}
              </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                {{ form.submit(class="col-4") }}
                <div class="col-4"></div>
            </div>
          </form>
        </div>
      {% endif %}
      
    </div>
    <div class="col-2 "></div>
  </div>
{% endblock %}
