<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AyudAR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
        
        <div class="navbar-brand" style="margin-right: 15px; float:right" >
            <div class="btn-group" style="margin-right: 50px">
                <div class="btn-group" >
                <!--Si esta registrado-->
                    <button type="button" class="btn btn-space btn-md btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>NAME_USER
                    </button>
                    <div class="dropdown-menu" >
                        <a class="dropdown-item" href="#"><span class="" style="margin-right: 10px"></span>Mi Perfil</a>
                        <a class="dropdown-item" href="#"><span class="" style="margin-right: 10px"></span>Contactos</a>
                        <a class="dropdown-item" href="#"><span class="" style="margin-right: 10px"></span>FAQ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><span class="" style="margin-right: 10px"></span>Cerrar sesion</a>
                    </div>
                    <!--Si no esta registrado-->
                    <button type="button" class="btn btn-primary btn-space btn-color btn-bg-color btn-sm col-xs-2 margin-left">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Iniciar Sesion
                    </button>
                    <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 margin-left">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Registrarse
                    </button>
                </div>
            </div>
        </div>
        
        
    </div>
</nav>
